process {
    withName:  gather_demux {
        memory = '5 GB'
        cpus = 1
        container = {
          "${params.daedalus_docker}"
        }
        ext {
             command = {"$workflow.projectDir/config/demultiplex/gather_demux/gather_demux.sh"}
             vmem = '2G'
        }
    }
}