// DEFAULT CONFIGURATION FILE

// Input Files
params.sample_info = "sample_info.csv"
params.data_dir = "${baseDir}/../../data"

params.spikeSeqs = "${params.data_dir}/synthetic_seqs_fixed.fasta"
params.adapterSeqs = "/sc1/groups/pls-redbfx/pipeline_runs/iPETE/data/TruSeq3-PE.fa"
params.reference = "/sc1/groups/pls-redbfx/pipeline_runs/iPETE/data/hg19.fasta"

// Workflow Control
params.finalDir = "analysis"
params.numProcessors = 15

// whether or not to run trimmomatic	
params.checkSpikeIn = true

params.runBcl2Fastq = false
// whether or not to run trimmomatic
params.trimreads = true
// whether or not to run fastqc
params.runFastqc = true
// whether or not to generate consensus sequences
params.runPresto = false
// whether or not to run mixcr
params.runMixcr = false

//run dedup and downstream steps
params.runDedup = true

// seqtk options
params.subsample = 1

// Trimmomatic Options
params.trim_qual = 10

// Swifr Alignment Options
params.minAlnScore = 16

// Alignment Parser Options
params.uid_length = 13