// DEFAULT CONFIGURATION FILE

// Input Files
params.sample_info = "sample_info.csv"
params.data_dir = "${baseDir}/../../data"

// Set docker images
params.bcl2fastq_docker = "rssregistry.roche.com:5001/users/linh35/bcl2fastq:0.0.1"
params.daedalus_docker = "rssbred/daedalus:0.0.2"
params.swifr_docker = "rssbred/swifr:v1.0"

// Set swifr path within docker image
params.swifr = "/bin/swifr"

// Workflow Control
params.finalDir = "analysis"
params.numProcessors = 15

// whether or not to run trimmomatic	
params.checkSpikeIn = true

params.runBcl2Fastq = false
// whether or not to run trimmomatic
params.trimreads = true
// whether or not to run fastqc
params.runFastqc = true
// whether or not to generate consensus sequences
params.runPresto = false
// whether or not to run mixcr
params.runMixcr = false

//run dedup and downstream steps
params.runDedup = true

// seqtk options
params.subsample = 1

// Trimmomatic Options
params.trim_qual = 10

// Swifr Alignment Options
params.minAlnScore = 16

// Alignment Parser Options
params.uid_length = 13