// Temporary, need to move the following block into each profiles other than ipete.
//includeConfig 'versions.config'
//includeConfig 'defaults.config'
//includeConfig 'ctdna-env.config'

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,container,status,exit,start,realtime,%cpu,rss,hash,native_id,process,tag,module,attempt,submit,complete,duration,%mem,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
    raw = true
}

timeline {
    enabled = true
    file = 'pipeline_timeline.html'
}

profiles {
  standard {
    params.registryHost = 'rssregistry.roche.com:5001/'
    docker.enabled = true
    process.executor = 'sge'
    process.queue = 'all.q'
    process.penv = 'smp'
    process.clusterOptions = '-S /bin/bash -l docker_version=new -P onco'
  }

  local {
    configdir="config"
    includeConfig "versions-ipete.config"
    includeConfig "defaults-ipete.config"
    includeConfig "segment1-ipete.config"
    includeConfig "segment2-ipete.config"
    includeConfig "segment3-ipete.config"
    params.registryHost = 'rssregistry.roche.com:5001'
    docker.enabled = true
    process.executor = 'local'
    process.clusterOptions = ''
  }
  
  bina {
    params.registryHost = ''
    params.finalDir = 'final/production'
    docker.enabled = false
    process.executor = 'local'
    process.clusterOptions = ''
  }

  local_omicsbricks {
    includeConfig 'share.config'
    configdir="config"
    registryHost = 'rssregistry.roche.com:5001'
    includeConfig "segment2.config"
    includeConfig "segment1.config"
    includeConfig "segment3.config"
    docker.enabled = true
    process.executor = 'local'
    process.clusterOptions = ''
  }

  bina_omicsbricks {
    includeConfig 'share.config'
    configdir="config"
    registryHost = ''
    includeConfig "segment2.config"
    includeConfig "segment1.config"
    includeConfig "segment3.config"
    includeConfig "tumor_normal.config"
    docker.enabled = false
    process.executor = 'local'
    process.clusterOptions = ''
  }

  omicsbricks{
       includeConfig 'share.config'
       configdir="config"
       registryHost = 'rssregistry.roche.com:5001'
       includeConfig "segment3.config"
       includeConfig "segment2.config"
       includeConfig "segment1.config"
       includeConfig "tumor_normal.config"
       process.executor = 'sge'
       process.queue = 'all.q'
       process.penv = 'smp'
       process.clusterOptions = { "-l h_vmem=${task.ext.vmem} -S /bin/bash -l docker_version=new -P onco" }
  }

  ipete {
    configdir="config"
    includeConfig "versions-ipete.config"
    includeConfig "defaults-ipete.config"
    includeConfig "segment1-ipete.config"
    includeConfig "segment2-ipete.config"
    includeConfig "segment3-ipete.config"
    process.executor = 'sge'
    process.queue = 'all.q'
    process.penv = 'smp'
    process.clusterOptions = { "-l h_vmem=${task.ext.vmem} -S /bin/bash -l docker_version=new -P rssprbf" }
    process.beforeScript = 'source $HOME/.bashrc'
  }
}
docker.runOptions = "-u=\$UID --rm"
