      params.pf_crosscon_dir = configdir + "/crosscon"
      includeConfig params.pf_crosscon_dir  + "/ctdna-crosscon.config"

      includeConfig params.pf_crosscon_dir  + "/publishcrosscon.config"

      params.pf_annotate_filter_annotateFilter_dir = configdir + "/annotate_filter/annotateFilter"
      includeConfig params.pf_annotate_filter_annotateFilter_dir  + "/annotation_and_filtering.config"

      params.pf_tmb_dir = configdir + "/tmb_call"
      includeConfig params.pf_tmb_dir  + "/tmb-caller.config"

      params.pf_metrics_consolidateVcf_dir=configdir + "/metrics/consolidateVcf" 
      includeConfig params.pf_metrics_consolidateVcf_dir  + "/ctdna-metrics.config" 
