params.pf_subsample_seqtk_dir = configdir + "/subsample"
includeConfig params.pf_subsample_seqtk_dir + "/seqtk.config"

params.pf_parse_umi_dir = configdir + "/parse_umi" 
includeConfig params.pf_parse_umi_dir + "/parse_umi.config"

params.pf_trim_primers_dir = configdir + "/trim_primers" 
includeConfig params.pf_trim_primers_dir + "/trim_primers.config"

params.pf_flash_dir = configdir + "/flash" 
includeConfig params.pf_flash_dir + "/flash.config"

params.pf_swifr_dir = configdir + "/swifr_align" 
includeConfig params.pf_swifr_dir + "/swifr_align.config"

params.pf_VDJ_detect_dir = configdir + "/VDJ_detect" 
includeConfig params.pf_VDJ_detect_dir + "/VDJ_detect.config"

params.pf_extract_umi_dir = configdir + "/extract_umi" 
includeConfig params.pf_extract_umi_dir + "/extract_umi.config"

params.pf_ipete_dedup_dir = configdir + "/ipete_dedup" 
includeConfig params.pf_ipete_dedup_dir + "/ipete_dedup.config"

params.pf_spikein_split_dir = configdir + "/spikein_split" 
includeConfig params.pf_spikein_split_dir + "/spikein_split.config"

params.pf_ipete_metrics_dir = configdir + "/ipete_metrics" 
includeConfig params.pf_ipete_metrics_dir + "/ipete_metrics.config"

params.pf_ipete_reporter_dir = configdir + "/ipete_reporter" 
includeConfig params.pf_ipete_reporter_dir + "/ipete_reporter.config"
